* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
    text-align: center;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50px;
    cursor: pointer;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.remember-forgot a {
    color: #5a67d8;
    text-decoration: none;
}

.login-btn {
    background-color: #5a67d8;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.divider {
    font-size: 14px;
    color: #aaa;
    margin: 20px 0;
}

.google-login {
    background-color: #fff;
    color: #444;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login i {
    width: 20px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }
}
